@import "./reset";
@import "./variables";

header {
  width: 100vw;
  height: 100px;
  //   background-color: lighten($primaryColor, 50);
  background: darken($color: blue, $amount: 20);
  padding: 10px;
  top: 0;
  left: 0;

  img {
    color: white;
  }

  ul {
    display: flex;
    text-transform: capitalize;
    // width: 5%;

    li {
      position: absolute;
      //   right: 20px;
      font-size: 25px;
      color: #fff;
      list-style: none;
      //   width: 1000px;
      top: 0%;
      padding: 10px;
      margin: 5%;
    }
  }
}
