@import "./reset";
@import "./variables";

header {
  background: rgba(29, 29, 29, 0.116);
  position: static;
  width: 100vw;
  height: 100px;

  img {
    position: relative;
  }

  ul {
    display: flex;
    justify-content: flex-end;
  }
}
